@font-face {
    font-family: Reckless;
    src: url('./fonts/RecklessCondensedS-TRIAL-Book.woff');
}

@font-face {
    font-family: Midnight;
    src: url('./fonts/midnight-sans-rd-12-semibold-trial.otf');
}

@font-face {
    font-family: Figtree;
    src: url('./fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2');
}

@font-face {
    font-family: Roboto-regular;
    src: url('./fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: Roboto-medium;
    src: url('./fonts/RobotoMono-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    width: 100%;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    background-color: #FBF9EB;
    background-image: url('https://www.twoleavestea.com/cdn/shop/files/matcha_pour_mobile.webp?v=1785857048&width=720');
    /* background-position: 50% 100%; */
    /* background-size: clamp(100%, 170%, 170%); */
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    padding: 1rem;
}

nav {
    width: 100%;
    background-color: #FFFEFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Reckless';
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
}

nav .nav-part-1 {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    width: 33%;
}

.nav-part-1 h3 {
    font-weight: 300;
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
}

nav #menu-icon {
    font-size: 3rem;
}

nav .nav-part-2 {
    width: 33%;
    margin: 0.2rem;
    /* background-color: red; */
}

nav .nav-part-2 img {
    width: 25vw;
    object-fit: cover;

}

nav .nav-part-3 {
    display: flex;
    width: 50%;
    gap: 1rem;
    align-items: center;
    justify-content: end;
    /* background-color: yellow; */
}

.nav-part-3 h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: Roboto-medium;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.nav-part-3 svg {
    width: 2rem;
    height: 2rem;
}

.nav-part-3 h3 {
    font-weight: 300;
}


#section-1 {
    width: 100%;
    min-height: 0;
    padding: 0 0.5rem;
    display: flex;
    flex: 1;
    align-items: flex-end;
}

#section-1 .section1-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

#section-1 .section1-container .main-heading h1 {
    font-family: Reckless;
    /* font-size: clamp(3.5rem, 4vw, 5rem); */
    color: white;
    font-weight: 100;
}

.section1-container .sub-heading {
    width: 85vw;
}

.section1-container .sub-heading p {
    font-family: Figtree;
    color: white;
    /* font-size: clamp(1.05rem, 2vw, 4rem); */
    font-weight: 500;
}

.section1-container .shop-button {
    width: 100%;
}

.section1-container .shop-button button {
    background-color: #2A2857;
    width: 100%;
    color: white;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 1rem;
}


@media (min-width: 1440px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #menu-icon {
        display: none;
    }

    .nav-part-1 {
        width: 33%;
        display: flex;
        align-items: center;
        gap: 1px;
    }

    .nav-part-1 h3 {
        display: flex;
    }

    .nav-part-1 span {
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.125rem !important;
        height: 1.125rem;
        background-color: #c0dbff;
        border-radius: 50%;
        border: .0625rem solid currentColor;
        margin-left: .5rem;
        aspect-ratio: 1 / 1;
    }

    .nav-part-2 {
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* background-color: red; */
    }

    .nav-part-2 img {
        margin-right: 4vw;
    }

    .nav-part-3 {
        /* background-color: yellowgreen; */
        width: 25%;
        display: flex;
        gap: 8rem;
    }

    .nav-part-3 h3 {
        display: flex;
        letter-spacing: 1px;
        font-size: 0.75rem;
    }

    nav #menu-icon {
        font-size: 1.5rem;
    }

    nav .nav-part-2 img {
        width: 7vw;
    }

    .nav-part-3 svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    main {
        background-position: center center;
        background-size: cover;
        background-image: url('https://www.twoleavestea.com/cdn/shop/files/matcha_pour.webp?v=1785856852&width=3600.0');
    }

    #section-1 {
        width: 100%;
    }

    .section1-container {
        width: 50%;
    }

    .section1-container .main-heading {
        width: 30%;
    }

    .main-heading h1 {
        font-size: 5rem;
    }

    .section1-container .sub-heading {
        width: 40%;
    }

    .sub-heading p {
        font-size: 1.25rem;
    }

    .section1-container .shop-button {
        width: 50%;
    }

    .section1-container .shop-button button {
        width: fit-content;
        padding: 1rem 3rem;
    }
}